<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".XetorApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.XetorApp">
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".WithdrawActivity"
            android:exported="false" />
        <activity
            android:name=".WithdrawDetailActivity"
            android:exported="false" />
        <activity
            android:name=".TopUpActivity"
            android:exported="false" />
        <activity
            android:name=".TransferActivity"
            android:exported="false" />
        <activity
            android:name=".ConversionActivity"
            android:exported="false" />
        <activity
            android:name=".SetorActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".OrderActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilSayaActivity"
            android:exported="false" />
        <activity
            android:name=".PasswordActivity"
            android:exported="false" />
        <activity
            android:name=".AddressActivity"
            android:exported="false" />
        <activity
            android:name=".TransactionHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.XetorApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
            <meta-data
                android:name="androidx.core.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>